#data-generator
pyyaml
psycopg2-binary
faker

#loading env var and CDC
python-dotenv
requests

#Consumer
kafka-python-ng
boto3
fastparquet
pandas
confluent-kafka 
minio 
pyarrow

#dbt
dbt-snowflake>=1.11.6

#ci/cd
ruff
pytest
sqlfluff
sqlfluff-templater-dbt